<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<header class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light container">
        <a class="navbar-brand" href="{% url 'home' %}">Work Portal</a>
        <a class="nav-link" href="{% url 'job_offer_list' %}">Offers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'job_create' %}">Create job offer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'manage_job_offers' %}">Hello {{ user.username }}!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}?next={{ request.path }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>
