{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h2>Create Job offer</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="user_id" value="{{ request.user.id }}">
            <button type="submit" class="btn btn-primary">Create Job Offer</button>
        </form>
    </div>
{% endblock %}
