{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container">
    <p class="fs-1 text-center">Search for offers</p>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <form method="GET" action="{% url 'job_offer_list' %}">
          <div class="input-group input-group-lg mb-3">
            <input type="text" class="form-control" placeholder="Search" name="search">
            <div class="input-group-append">
              <button class="btn btn-lg btn-outline-secondary" type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row justify-content-center">
    <p class="fs-1 text-center">Search by Categories</p>
      <div class="col-lg-12 col-md-12">
        <div class="btn-group" role="group" style="display: flex; flex-wrap: wrap;">
          {% for category in categories %}
            <a href="{% url 'job_offer_list' %}?category={{ category.0 }}" class="btn btn-primary btn-lg {% if category_filter == category.0 %}active{% endif %}" style="margin: 5px;">
              {{ category.1 }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
