{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Job Offers</h1>

    <!-- Add a search form to filter the job offers -->
    <form method="GET" action="{% url 'job_offer_list' %}">
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="text" class="form-control" placeholder="Search job offers" name="search">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-3 form-group">
                <label for="category">Category:</label>
                <select name="category" id="category" class="form-control">
                    <option value="">-- All Categories --</option>
                    {% for category, label in job_offer_categories %}
                        <option value="{{ category }}"
                                {% if category == request.GET.category %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3 form-group">
                <label for="contract_type">Contract type:</label>
                <select name="contract_type" id="contract_type" class="form-control">
                    <option value="">-- All contract types --</option>
                    {% for contract_type, label in job_offer_contract_types %}
                        <option value="{{ contract_type }}"
                                {% if contract_type == request.GET.contract_type %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3 form-group">
                <label for="expected_education">Expected education:</label>
                <select name="expected_education" id="expected_education" class="form-control">
                    <option value="">-- All expected education types --</option>
                    {% for expected_education, label in job_offer_expected_education %}
                        <option value="{{ expected_education }}"
                                {% if expected_education == request.GET.expected_education %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3 form-group">
                <label for="operating_mode">Operating mode:</label>
                <select name="operating_mode" id="operating_mode" class="form-control">
                    <option value="">-- All operating modes --</option>
                    {% for operating_mode, label in job_offer_operating_mode %}
                        <option value="{{ operating_mode }}"
                                {% if operating_mode == request.GET.operating_mode %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-12 text-center mt-3">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Expiration Date</th>
            <th>Localization</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {% for job_offer in job_offers %}
            <tr>
                <td>{{ job_offer.title }}</td>
                <td>{{ job_offer.get_category_display }}</td>
                <td>{{ job_offer.expiration_date }}</td>
                <td>{{ job_offer.localization }}</td>
                <td>
                    <a href="{% url 'job_detail' job_offer.id %}" class="btn btn-primary">Details</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No job offers found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}