{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="col-lg-6">
            <h1 class="text-center mb-4">Job Offer Response</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}

                <div class="row">
                    <input type="submit" value="Save Changes" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
{% endblock %}



