{% extends 'base.html' %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">{{ job.title }}</h1>
                </div>

                <div class="card-body">
                    {% if show_button %}
                        <div class="row justify-content-center py-3">
                            <a href="{% url 'edit_job_offer' job.id %}"
                               class="btn btn-primary col-sm-5 mx-3">Edit</a>
                            <a href="{% url 'delete_job_offer' job.id %}"
                               class="btn btn-danger col-sm-5 mx-3">Delete</a>
                        </div>
                        <div class="row justify-content-center py-3 mx-3">
                            <label for="response_count" class="form-text">Responses:</label>
                            <p id="response_count"
                               class="form-label">{{ count }}</p>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-5 form-label mx-3 fw-bold">Category:</div>
                        <div class="col-sm-5 form-label mx-3">{{ job.get_category_display }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 form-label mx-3 fw-bold">Expiration date</div>
                        <div class="col-sm-5 form-label mx-3">{{ job.expiration_date }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 form-label mx-3 fw-bold">Localization:</div>
                        <div class="col-sm-5 form-label mx-3">{{ job.localization }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 form-label mx-3 fw-bold">Description:</div>
                        <div class="col-sm-5 form-label mx-3">{{ job.description }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 form-label mx-3 fw-bold">Rate:</div>
                        <div class="col-sm-5 form-label mx-3">{{ job.rate }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 form-label mx-3 fw-bold">Contract type</div>
                        <div class="col-sm-5 form-label mx-3">{{ job.get_contract_type_display }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 form-label mx-3 fw-bold">Expected education</div>
                        <div class="col-sm-5 form-label mx-3">{{ job.get_expected_education_display }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 form-label mx-3 fw-bold">Expected age</div>
                        <div class="col-sm-5 form-label mx-3">{{ job.expected_age }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 form-label mx-3 fw-bold">Required experience</div>
                        <div class="col-sm-5 form-label mx-3">{{ job.required_experience }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 form-label mx-3 fw-bold">Operating mode</div>
                        <div class="col-sm-5 form-label mx-3">{{ job.get_operating_mode_display }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 form-label mx-3 fw-bold">Shift work</div>
                        <div class="col-sm-5 form-label mx-3">{% if job.shift_work %}Yes{% else %}No{% endif %}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 form-label mx-3 fw-bold">Weekend work</div>
                        <div class="col-sm-5 form-label mx-3">{% if job.weekend_work %}Yes{% else %}No{% endif %}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 form-label mx-3 fw-bold">Flexible working</div>
                        <div class="col-sm-5 form-label mx-3">{% if job.flexible_working_time %}Yes{% else %}
                            No{% endif %}</div>
                    </div>
                    <div class="d-flex flex-column">
                        <a href="{% url 'job_response' job.id %}"
                           class="btn btn-primary">Respond offer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



