{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Log in</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="mb-3">
                                    {{ field.label_tag}}
                                    {{ field|add_class:'form-control' }}
                                    <span class="form-label"></span>
                                </div>
                            {% endfor %}
                            <div class="text-center">
                                <button class="btn btn-primary mt-3" type="submit">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
