{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="col-lg-12">
            <h1 class="text-center py-2">Manage your job offers</h1>
            {% for offer in job_offers %}
                <div class="py-2">
                    <div class="card">
                        <div class="card-header">
                            <a href="{% url 'job_detail' offer.id %}"><h3>{{ offer.title }}</h3></a>
                            <label for="response_count" class="form-text">Responses:</label>
                            <p id="response_count"
                               class="form-label">{{ job_responses|get_response_counter:offer.id }}</p>
                        </div>
                        <div class="card-body">
                            <div class="row col-12">
                                <div class="col-4">
                                    <label for="contract_type" class="form-text">Location:</label>
                                    <p id="contract_type" class="form-label">{{ offer.localization }}</p>
                                    <label for="operating_mode" class="form-text">Expiration date:</label>
                                    <p id="operating_mode" class="form-label">{{ offer.expiration_date }}</p>
                                </div>
                                <div class="col-3">
                                    <label for="contract_type" class="form-text">Category:</label>
                                    <p id="contract_type" class="form-label">{{ offer.get_category_display }}</p>
                                    <label for="operating_mode" class="form-text">Required experience:</label>
                                    <p id="operating_mode" class="form-label">{{ offer.required_experience }} years</p>
                                </div>
                                <div class="col-3">
                                    <label for="contract_type" class="form-text">Contract type:</label>
                                    <p id="contract_type" class="form-label">{{ offer.get_contract_type_display }}</p>
                                    <label for="operating_mode" class="form-text">Operating mode:</label>
                                    <p id="operating_mode" class="form-label">{{ offer.get_operating_mode_display }}</p>
                                </div>
                                <div class="col-2">
                                    <div class="d-flex flex-column">
                                        <a href="{% url 'edit_job_offer' offer.id %}"
                                           class="btn btn-primary mb-2">Edit</a>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <a href="{% url 'delete_job_offer' offer.id %}"
                                           class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


            {#            <div class="row">#}
            {#                {% if show_button %}#}
            {#                    <a href="{% url 'edit_job_offer' job.id %}" class="btn btn-primary">Edit</a>#}
            {#                {% endif %}#}
            {#            </div>#}
        </div>
    </div>
{% endblock %}
