{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h2>Register</h2>
    </div>
    <div class="card-body">
      {% crispy form %}
    </div>
  </div>
{% endblock %}